<div style="display: flex; justify-content: center; align-items: center; height: 100vh; background-color: white;">
  <div style="border: 2px dotted black; padding: 20px; width: 500px; text-align: center; box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); border-radius: 10px;">
    <h1 style="color: #4CAF50;">Editing movie</h1>
    <%= render "form", movie: @movie %>
    <br>
    <div>
      <%= link_to "Show this movie", @movie %> |
      <%= link_to "Back to movies", movies_path %>
    </div>
  </div>
</div>