<% content_for :title, "New movie" %>

<div class="wrapper">
  <div class="form-container">
    <h1>New Movie</h1>
    <%= render "form", movie: @movie %>
    <br>
    <div>
      <%= link_to "Back to Movies", movies_path, class: "button", style: "display: inline-block; padding: 10px 15px; background-color: #007bff; color: white; text-decoration: none; border-radius: 5px; text-align: center;" %>
    </div>
  </div>
</div>